body {
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
}
h1{
  font-size: 50px;
  color:white;
}
h2{
  color: Gray;
  font-size: 21px;
}
}
h3{
  color: Aquamarine;
  font-size: 16px;
}
video {
    object-fit: contain;
}
